<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Edit Book</h1>
    <div class="col-6 offset-3">
        <form action="/books/<%=book._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>
        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" id="title" name="book[title]" value="<%= book.title %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-2">
            <label for="author" class="form-label">Author</label>
            <input class="form-control" type="text" id="author" name="book[author]" value="<%= book.author %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-2">
            <label for="image" class="form-label">Image</label>
            <input class="form-control" type="text" id="image" name="book[image]" value="<%= book.image %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" type="text" id="description" name="book[description]" required><%= book.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
        
    </form>
    <a href="/books/<%= book._id %>" class="text-dark">Back to <%= book.title %></a>
    </div>
</div>

